<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Luffarpoker Online | Game</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<a href="/">home</a>
		
		<p th:text="|Game room: ${game.gameId}|" />
		
		<table>
			<thead>
				<tr>
					<th>Round</th>
					<th th:each="player : ${game.players}">
						<span th:text="${player.name}">Player Name</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="round : ${game.rounds}">
					<td><span th:text="${round.roundType}">Round Type</span></td>
					<td th:each="player : ${game.players}">
						<span th:text="${round.playerScores.get(player)}">Player Round Score</span>
					</td>
				</tr>
				<tr>
					<th>Total:</th>
					<td th:each="player : ${game.players}">
						<span th:text="${game.getPlayerTotalScore(player)}">Player Total Score</span>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
